
[submodule "common"]
	path = common
	url = https://github.com/okomarov/MatlabCommon
[submodule "intradaymom/utils/clusterreg"]
	path = intradaymom/utils/clusterreg
	url = https://github.com/okomarov/clusterreg
