
[submodule "common"]
	path = common
	url = https://github.com/okomarov/MatlabCommon
[submodule "hfandlow"]
	path = hfandlow
	url = https://github.com/okomarov/hfandlow
[submodule "intradaymom"]
	path = intradaymom
	url = https://github.com/okomarov/intradaymom
